@use '../abstracts/' as *;
//
body {
     ::selection {
        color: $white;
        background: $accent;
    }
}

.is-front-page {
    color: $exlightgray;
    .main-wrap {
        background-color: $lightblack;
        background-image: url(images/blackptrn_rev.png);
    }
    .lmbtn {
        background-color: rgba(white, 0.05);
    }
    @media #{$tab} {
        .grid-item {
            background-color: rgba(white, 0.05);
        }
    }
    @media #{$des} {
        .grid-item {
            background-color: rgba(white, 0.05);
        }
        .grid-item,
        .lmbtn {
            transition: background-color 0.25s ease-out;
            &:hover {
                background-color: rgba(white, 0.1);
            }
        }
    }
    .row-footer .lmbtn>i>svg {
        fill: $exlightgray;
    }
}

.category-nav {
    background-image: url(images/blackptrn.png);
}

.sidebarmenu {
    background-image: url(images/blackptrn.png);
    .show-menu & {
        background-color: $lightblack;
    }
}

.headerplaidslot {
    background-image: url(images/blackptrn_rev.png);
}

.lmbtn {
    background-color: rgba(black, 0.1);
    @media #{$des} {
        transition: background-color 0.25s ease-out;
        &:hover {
            background-color: rgba(black, 0.15);
        }
    }
}

.category-nav .menu-item-has-children:hover,
.category-nav .sub-menu a {
    background-color: $darkgray;
}

.category-nav .sub-menu a:hover {
    background-color: $medgray;
}