@use '../abstracts/' as *;
//
.newsletter {
    &.abovefooter {
        >.wrapper {
            max-width: 64rem;
            margin: auto;
        }
    }
    .newsletterheader {
        text-align: center;
        padding: 1rem;
        >figure {
            line-height: 0;
            margin: auto;
            padding: 0 2rem;
        }
        >.message {
            padding: 1rem 0 1rem;
            @media (min-width: 640px) {
                padding: 2rem 0 2rem;
            }
        }
        .headline {
            font-size: clamp(1rem, 1.2473rem + 4.3011vw, 1.5rem);
            font-weight: bold;
            line-height: 1.1;
            text-transform: uppercase;
            margin: 0 0 0.5rem;
        }
        .subheadline {
            font-size: clamp(0.6rem, 1.2473rem + 4.3011vw, 0.9rem);
        }
    }
    .newsletterform {
        max-width: 40rem;
        margin: auto;
        position: relative;
    }
    .emailinput {
        color: white;
        padding: 1rem 1.5rem 1.5rem;
        background-color: $accent;
        margin: 0 0 1rem 0;
        @media (min-width: 640px) {
            padding: 1rem 3.5rem 1.5rem;
            border-radius: 999px;
        }
        >span {
            display: inline-block;
            margin: 0 0 0.25rem 0;
        }
        >input {
            color: $medblack;
            font-size: 1.2rem;
            padding: 0.5rem;
            border: 1px solid rgba(black, 0.35);
            border-radius: 0.5rem;
            box-shadow: inset 0 0 4px rgba(black, 0.5);
            &:focus-visible {
                outline: 2px solid$accent;
            }
        }
    }
    .interests {
        padding: 0 1rem 0;
        @media (min-width: 640px) {
            padding: 0 3.5rem 0;
        }
        >p {
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0 0 0.5rem 0;
        }
    }
    .checkcontainer {
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        cursor: pointer;
        user-select: none;
        margin: 0 0 1rem 0;
        >input[type="checkbox"] {
            width: 0;
            overflow: hidden;
        }
        >span {
            display: block;
        }
        .checkmark {
            font-size: 1.5rem;
            position: relative;
            display: grid;
            >* {
                grid-column-start: 1;
                grid-row-start: 1;
                transform-origin: center center;
            }
            >.unchecked {
                color: var(--darkui);
                transition: transform 0.15s ease-in, color 0.25s ease-out;
            }
            >.checked {
                transform: scale(0);
                transition: transform 0.25s cubic-bezier(.4, 0, .47, 1.36), color 0.25s ease-out;
            }
        }
        // &:hover input~.checkmark {
        //     background-color: #ccc;
        // }
        input {
            &:checked~.checkmark {
                >.unchecked {
                    color: $accent;
                    transform: scale(0);
                }
                >.checked {
                    color: $accent;
                    transform: scale(1);
                }
            }
        }
    }
    .submission {
        text-align: center;
        max-width: 23rem;
        padding: 0 2rem;
        margin: 2rem auto;
    }
    .disclaimer {
        font-size: 0.6rem;
        color: #999;
        margin: 1rem 0;
        >a {
            text-decoration: underline;
        }
    }
    .newsltrsub {
        font-size: 1.5rem;
        line-height: 1;
        text-transform: uppercase;
        width: 100%;
        color: white;
        padding: 1rem;
        background-color: $accent;
        border-radius: 999px;
    }
}

.newsletter-thanks {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: -0.25rem;
    .headline {
        font-size: 2rem;
        font-weight: 700
    }
    .subheadline {
        font-size: 1.2rem;
        font-weight: 400
    }
}

.offscreen {
    position: absolute;
    top: -10000px;
    left: -10000px;
    float: left;
}

.nwsltrpopup {
    background: rgba(0, 0, 0, 0.94);
    @include mcStretch(fixed);
    display: none;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    z-index: 9999999;
    transition: opacity 0.25s ease-out;
    font-size: 14px;
    @media #{$tab} {
        font-size: 16px;
        padding: 32px;
    }
    @media #{$des} {
        font-size: 18px;
        padding: 0;
    }
    &.active {
        opacity: 1;
        max-height: 100%;
        display: grid;
    }
    >.wrapper {
        max-width: 768px;
        margin: auto;
        display: grid;
        position: relative;
        >.wrapper {
            background: white;
        }
    }
    .closebtn {
        position: absolute;
        right: 0;
        background: $accent;
        color: white;
        cursor: pointer;
        width: 48px;
        padding: 8px;
        line-height: 1;
    }
    .mcheads {
        p {
            margin: 0;
            &:first-child {
                text-align: center;
                font-size: 16px;
                font-weight: 700;
                padding: 16px 16px 4px;
            }
            &:nth-child(2) {
                text-align: center;
                font-weight: 400;
                padding: 0 16px 16px;
                display: none;
            }
        }
        @media #{$tab} {
            p {
                &:first-child {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 700;
                    padding: 16px 16px 4px;
                }
                &:nth-child(2) {
                    text-align: center;
                    font-weight: 400;
                    padding: 0 24px 16px;
                    display: block;
                }
            }
        }
    }
    .grid {
        padding: 8px;
        grid-gap: 8px;
        display: block;
        >* {
            margin: 0 0 4px 0;
        }
        @media #{$tab} {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;
            padding: 8px 32px 32px;
            >* {
                display: grid;
                grid-template-columns: 18px 1fr;
                align-items: center;
                margin: 0 0 0 0;
                &:first-child,
                &:last-child {
                    display: block;
                    grid-column: span 2;
                }
            }
        }
    }
}

.nwsltr-thumb {
    display: grid;
    grid-template-rows: 64px 100px;
    justify-content: center;
    align-items: end;
    text-align: center;
    line-height: 1;
    >.logo {
        width: 180px;
        margin: auto;
    }
    >.txt {
        font-size: 24px;
        color: white;
        font-weight: 700;
        text-shadow: 0 0 24px rgba(0, 0, 0, 1);
        padding: 12px;
    }
    @media #{$tab} {
        grid-template-rows: 64px 180px;
        >.txt {
            font-size: 32px;
            padding: 24px;
        }
    }
}

.newsltrsubpop {
    width: 100%;
    background: $accent;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
}