$siteheadercolor: #000000;
$menbtncolor: #cccccc;
//
//BLACKS
$black:#000000;
$darkblack:#090909;
$medblack:#121212;
$lightblack:#202020;
//
//GRAYS
$darkgray:#333333;
$medgray:#656565;
$lightgray:#CCCCCC;
$exlightgray:#EEEEEE;
//
//WHITES
$white:#FFFFFF;
//
//ACCENTS
$accent:#ef3e25;
//
//UI
$errorcolor:#CC0000;
//PROPS
:root {
    --fbblue: #3b5998;
    --twblue: #1DA1F2;
    --ytred: #FF0000;
    --ptred: #c8232c;
}